{% extends "email/base.html.twig" %}

{% block title %} Pomyślnie zarejestrowano {% endblock %}

{% block main %}
    <h1>Pomyślnie zarejestrowano</h1>
    <p>
        Witaj {{ first_name }}! Cieszymy się, że jesteś zainteresowany subskrybcją naszego programu rekrutacyjnego. Dzięki temu będziemy mogli informować Cię na temat przebiegu rekrutacji i nic nie powinno ukmnąć Twojej uwadze.
    </p>
    <p>
        Aby dokończyć proces rejestracji, musisz aktywować swoje konto. Aby to zrobić otwórz następujący link: <a href="{{ confirm_url }}">Potwierdź rejestrację</a>
    </p>
    <p>
        Jeżeli chciałbyś kiedyś usunąć swoje konto, otwórz poniższy link: <a href="{{ unsubscribe_url }}">Usuń konto</a>
    </p>
    <p>
        Mamy nadzieję, że nasza aplikacja przypadnie Ci do gustu. Życzymy miłych wrażeń podczas korzystania z niej!
    </p>
{% endblock %}
